.container {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  background: url('./img/authBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
